#container-main-1 {
    display: flex;
    flex-direction: row;
}

#vh {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    top: -12rem;
}

#container-texts-main-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    top: 3rem;
}

#container-texts-main-1 p {
    width: 50%;
    font-size: 1.5rem;
    color: rgb(102, 101, 101);
    text-align: center;
}


#container-images-main-1 {
    position: relative;
    top: 4rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-dot {
    position: absolute;
    top: 38rem;
    width: 50rem;
    z-index: -1;
}



#image-main-1 {
    width: 9rem;
    height: 9rem;
    background-color: var(--light-blue);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 12rem;
    left: 1rem;
    
}

#image-main-2 {
    border-bottom-left-radius: 35%;
    width: 55rem;
    position: relative;
    left: 4rem;
}

#image-main-3 {
    width: 14rem;
    height: 14rem;
    background-color: var(--light-yellow);
    border-bottom-right-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 40rem;
    left: 40rem;
}

#button-contact-now {
    width: 12rem;
    height: 3rem;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.1rem;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--button-color);
    border: 0;
    color: white;
}

#button-contact-now:hover {
    background: #0730c4;
    font-size: 1.2em;
}

#container-main-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#container-texts-main-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 5rem;
}

#container-images-main-2 {
    width: 50%;
    display: flex;
    position: relative;
    right: 10rem;
    gap: 2rem;
}

.images-clients {
    width: 25%;
}

