* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --background-color: #FEFEFE;
    --font-color: #000;
    --button-color: #2639ED;
    --light-blue: #DAE9FF;
    --light-yellow: #FFF5DB;
}